* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "ROBOTO", sans-serif;
    background: #1e1f26;
    color: #fff;
  }
    ::selection {
    background-color: #f7ca18;
    color: #1b1b1b;
  }

  p {
    color: #faebd7;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  h4 {
    z-index: 4;
    margin: 5px auto;
  }

  
  .container {
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  @media only screen and (max-width: 1000px) {
    .container {
      border-radius: 0;
    }
  }
  .slider {
    display: flex;
    width: 500%;
    height: 30rem;
    transition: all 0.25s ease-in;
    transform: translateX(0);
  }
  @media only screen and (max-width: 1000px) {
    .slider {
      height: 100vh;
    }
  }
  .slider .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  @media only screen and (max-width: 650px) {
    .slider .box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }
  .slider .box .bg {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    width: 55%;
    transform: skewX(7deg);
    position: absolute;
    height: 100%;
    left: -10%;
    padding-left: 20rem;
    transform-origin: 0 100%;
  }
  @media only screen and (max-width: 800px) {
    .slider .box .bg {
      width: 65%;
    }
  }
  @media only screen and (max-width: 650px) {
    .slider .box .bg {
      width: 100%;
      left: 0;
      bottom: 0;
      height: 54%;
      transform: skewX(0deg);
    }
  }
  .slider .box .bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    pointer-events: none;
    transform: skewX(10deg);
  }
  @media only screen and (max-width: 650px) {
    .slider .box .bg::before {
      width: 120%;
      bottom: 0;
      transform: skewX(0deg);
    }
  }
  .slider .box .details {
    padding: 5rem;
    padding-left: 10rem;
    z-index: 100;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
  }
  @media only screen and (max-width: 650px) {
    .slider .box .details {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
      text-align: center;
      padding: 2rem;
      transform: translateY(-9rem);
    }
  }
  .slider .box .details h1 {
    /*font-size: 3.5rem;*/
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .slider .box .details p {
    display: inline-block;
    /*font-size: 1.3rem;*/
    color: #B5B4B4;
    margin-bottom: 1rem;
    /*margin-right: 5rem;*/
  }
  @media only screen and (max-width: 800px) {
    .slider .box .details p {
      margin-right: 0;
    }
  }
  .slider .box .details button {
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .slider .box .details button:hover {
    opacity: 0.8;
  }
  .slider .box .details button:focus {
    outline: none;
    border: none;
  }
  .slider .box1 {
    background-color: #500033;
  }
  .slider .box1 .illustration .inner {
    background-color: #FF0077;
  }
  .slider .box1 .illustration .inner::after, .slider .box1 .illustration .inner::before {
    background-color: rgba(255, 0, 119, 0.4);
  }
  .slider .box1 button {
    background-color: #FF0077;
  }
  .slider .box2 {
    background-color: #000050;
  }
  .slider .box2 .illustration .inner {
    background-color: #0033FF;
  }
  .slider .box2 .illustration .inner::after, .slider .box2 .illustration .inner::before {
    background-color: rgba(0, 51, 255, 0.4);
  }
  .slider .box2 button {
    background-color: #0033FF;
  }
  .slider .box3 {
    background-color: #00501D;
  }
  .slider .box3 .illustration .inner {
    background-color: #00FF44;
  }
  .slider .box3 .illustration .inner::after, .slider .box3 .illustration .inner::before {
    background-color: rgba(0, 255, 68, 0.4);
  }
  .slider .box3 button {
    background-color: #00FF44;
  }
  .slider .box4 {
    background-color: #554D00;
  }
  .slider .box4 .illustration .inner {
    background-color: #FF4E00;
  }
  .slider .box4 .illustration .inner::after, .slider .box4 .illustration .inner::before {
    background-color: rgba(255, 78, 0, 0.4);
  }
  .slider .box4 button {
    background-color: #FF4E00;
  }
  .slider .box5 {
    background-color: #300050;
  }
  .slider .box5 .illustration .inner {
    background-color: #8000FF;
  }
  .slider .box5 .illustration .inner::after, .slider .box5 .illustration .inner::before {
    background-color: rgba(128, 0, 255, 0.4);
  }
  .slider .box5 button {
    background-color: #8000FF;
  }
  .slider .illustration {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
  }
  @media only screen and (max-width: 650px) {
    .slider .illustration {
      grid-row: 1 / span 1;
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .slider .illustration div {
    height: 13rem;
    width: 10rem;
    border-radius: 3rem;
    background-color: #FF0077;
    position: relative;
    transform: skewX(-10deg);
  }
  @media only screen and (max-width: 800px) {
    .slider .illustration div {
      height: 20rem;
      width: 15rem;
    }
  }
  .slider .illustration div::after, .slider .illustration div::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    top: 0;
    left: 0;
  }
  .slider .illustration div::after {
    transform: translate(4rem, -1rem);
  }
  .slider .illustration div::before {
    transform: translate(2rem, -2rem);
  }
  .prev, .next, .trail {
    z-index: 10000;
    position: absolute;
  }
  .prev, .next {
    width: 4rem;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease;
  }
  @media only screen and (max-width: 650px) {
    .prev, .next {
      display: none;
    }
  }
  .prev:hover, .next:hover {
    opacity: 1;
  }
  .prev {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
  .next {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
  }
  .trail {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  @media only screen and (max-width: 650px) {
    .trail {
      width: 90%;
      bottom: 13%;
    }
  }
  .trail div {
    padding: 1rem;
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;
  }
  .trail div:hover {
    opacity: 0.6;
  }
  @media only screen and (max-width: 650px) {
    .trail div {
      padding: 1rem;
    }
  }
  .active {
    opacity: 1 !important;
  }
  .retour {
    color: #03dac6;
    background: #1e1f26;
    padding: 1.25em 2em;
    margin-top: 14rem;
    border-radius: 10px;
    font-size: 1.25rem;
    transition: all .8s ease-in-out;
    cursor: pointer;
    /* align-items: center; */
    border: 3px solid transparent;
    /* display: inline-flex; */
    /* height: 2.5em; */
    text-decoration: none;
    border-color: #03dac6;
    /* margin-bottom: 70px; */
    z-index: 999;
    position: relative;
}
.shadow {
    box-shadow: 0px 10px 10px rgb(0 0 0 / 15%);
}
@media (min-width: 800px)
.nav-tab {
    font-size: 3vw;
}
.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
    margin-left: 10%;
    margin-right:10%;
}
.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
  }
a {
    text-decoration: none;
    z-index: 999;
}
@media (min-width: 800px) {
.nav-tab {
    font-size: 3vw;
  }}
  @media screen only (min-width: 360px) {
    .nav-tab {
        font-size: 1.2vw;
      }}
.back {
    margin-top: 5px;
}
.bouton {
    color: #03dac6;
    background : #1e1f26;
    padding: 1.25em 2em;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 1.25rem;
    transition: all .8s ease-in-out;
    cursor: pointer;
    align-items: center;
    border: 3px solid transparent;
    display: inline-flex;
    height: 2.5em; */
    text-decoration: none;
    border-color: #03dac6;
    margin-bottom: 70px;
    /*
    z-index: 999;
    position: absolute;
    */
}

.shadow {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.15);
}
.bouton:active {
    transform: (0);
}

.bouton:hover {
    background: #03dac6;
    color: #1e1f26;
}
.center {
    display:block;
}
.uil-corner-up-left {
    margin-right: 10px;
}
.image{
    z-index: 999;
    position: absolute;
    margin: -50%;
    border-radius: 25px;
}
@media screen and (max-width: 800px) {
    .image{
        z-index: 999;
        position: absolute;
        margin-top: 6px;
        margin-left: 0px;
        border-radius: 25px;
    }

}
  